.dropdown{
    display: block;
}
.dropdown-content{
    visibility: hidden;
    position: absolute;  
}
.dropdown:hover .dropdown-content{
    visibility: visible;
    z-index: 1;
}
.dropdown a:hover{
    color: hsl(234deg 100% 68.14%);
}