.footer{
    height: 200px;
}
.footer li{
    padding: 10px;
}
.footer a{
    height: 55px;
    width: 55px;
    border: 1px solid;
    border-radius: 10px;
    min-width: 0px;
}
.footer img{
    height: 50px;
    width: 50px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px; 
}
footer p{
    padding-top: 30px;
    font-size: 35px;
    margin: 0px;
}