body{
    background-color: hsl(0, 0%, 25%);
    font-family: Bahnschrift, Arial;
    color: hsl(0, 0%, 100%);
    padding: 0px;
    margin: 0px;
}
a:any-link{
    color: hsl(234, 100%, 74%);
    text-decoration: none;
    font-size:20px;
}
a:any-link:hover{
    color: hsl(27, 100%, 50%)
}

header, header *{
    background-color: hsl(0, 0%, 17%);
}
footer, footer *{
    background-color: hsl(0, 0%, 17%);
}


body #content{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 50px;
}
body p{
    font-size:20px
}
body h1, body h1 a:any-link{
    font-size: 30px;
}


body h2 {
    color: hsl(234, 100%, 74%);
}
body img{
    width: 100%;
    display: block;
    margin: auto;
    opacity: 0.85;
    z-index: 0;
    border-radius: 10px;
}

canvas{
  filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}