body{
    background-color: hsl(0, 0%, 25%);
    font-family: Bahnschrift, Arial;
    color: hsl(0, 0%, 100%);
    padding: 0px;
    margin: 0px;
}
body a:any-link{
    color:hsl(0, 0%, 100%);
}
header, header *{
    background-color: hsl(0, 0%, 20%);
}
footer, footer *{
    background-color: hsl(0, 0%, 20%);
}
body #content{
    padding-left: 10%;
    padding-right: 10%;
}
body h1{
    color: hsl(234, 100%, 74%);
    font-size: 30px;
}
body img{
    height: 720px;
}