.navbar{
    font-size: 25px; 
    border-bottom: 1px solid hsl(0, 0%, 45%);
}
.navbar li{
    display: block;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
     
}
.navbar a{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px;
    min-width: 175px;
    color: hsl(0, 0%, 100%);
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar a.nav-active{
    color: red;
}