.navbar{
    font-size: 25px; 
    border-bottom: 1px solid hsl(0, 0%, 45%);
}
.navbar ul{
    background-color: hsl(0, 0%, 20%);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navbar a{
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar a.nav-active{
    color: red;
}