/* git-github.html */
/* Tabel */

/* Muutujad */
:root {
    --border-color: gray;
}

table {
    width: 100%;
    /* border-collapse: collapse; Liidab border-id kokku omavahel, seega ei jää erinevusi padding/margini pärast */
    border-collapse: collapse;
}
table th {
    text-align: center;
    padding: 1em;
}

table tr th {
    border: 2px solid var(--border-color);
}
table tr td {
    font-weight: 800;
    margin: 0;
    padding: 1em;
    border: 1px solid var(--border-color);
}

.fa {
    font-size: 50px !important;
    background-color: transparent;
}
