  <header>
    <nav class="navbar">
      <ul>
        <li class="dropdown">
          <a href="../../html/index.html">Avaleht</a>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)">UT</a>
          <div class="dropdown-content">
            <a href="../../html/UT/ois2.html">ÕIS2</a>
            <a href="../../html/UT/moodle.html">Moodle</a>
            <a href="../../html/UT/courses-ut.html">Courses</a>
          </div>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)">Suhtluskanalid</a>
          <div class="dropdown-content">
            <a href="../../html/Suhtluskanalid/teams.html">Teams</a>
            <a href="../../html/Suhtluskanalid/zoom.html">Zoom</a>
            <a href="../../html/Suhtluskanalid/zulip.html">Zulip</a>
            <a href="../../html/Suhtluskanalid/outlook.html">Outlook</a>
          </div>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)">Tööriistad</a>
          <div class="dropdown-content">
            <a href="../../html/Tööriistad/git-github.html">Git</a>
            <a href="../../html/Tööriistad/IDE.html">IDE</a>
            <a href="../../html/Tööriistad/tehisaru.html">Tehisaru</a>
          </div>
        </li>
      </ul>

    </nav>
  </header>
