  <header>
    <nav class="navbar">
      <ul>
        <li class="dropdown">
          <a href="../../index.html">Avaleht</a>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)">UT</a>
          <div class="dropdown-content">
            <a href="../../UT/ois2.html">ÕIS2</a>
            <a href="../../UT/moodle.html">Moodle</a>
            <a href="../../UT/courses-ut.html">Courses</a>
          </div>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)">Suhtluskanalid</a>
          <div class="dropdown-content">
            <a href="../../Suhtluskanalid/teams.html">Teams</a>
            <a href="../../Suhtluskanalid/zoom.html">Zoom</a>
            <a href="../../Suhtluskanalid/zulip.html">Zulip</a>
            <a href="../../Suhtluskanalid/outlook.html">Outlook</a>
          </div>
        </li>

        <li class="dropdown">
          <a href="javascript:void(0)">Tööriistad</a>
          <div class="dropdown-content">
            <a href="../../Tööriistad/git-github.html">Git</a>
            <a href="../../Tööriistad/IDE.html">IDE</a>
            <a href="../../Tööriistad/tehisaru.html">Tehisaru</a>
          </div>
        </li>
      </ul>

    </nav>
  </header>
